div
  .wrapper-md.bg-light.b-b.hide
    button.btn.btn-default.btn-addon.pull-right.m-t-n-xs(type='button', ui-toggle-class='show', target='#aside')
      i.fa.fa-bars
      |  List
    h1.m-n.font-thin.h3 Calendar
  .hbox.hbox-auto-xs.hbox-auto-sm
    .col.wrapper-md
      .clearfix.m-b-xs
        .pull-left.h1.m-n.font-thin.h3 Calendar
        .pull-right
          button.btn.btn-sm.btn-default(mwl-date-modifier='', date='Calendar.calendarDay', set-to-today='') Today
          .btn-group.m-l-xs
            button.btn.btn-sm.btn-default(ng-model='Calendar.calendarView', uib-btn-radio="'day'") Day
            button.btn.btn-sm.btn-default(ng-model='Calendar.calendarView', uib-btn-radio="'week'") Week
            button.btn.btn-sm.btn-default(ng-model='Calendar.calendarView', uib-btn-radio="'month'") Month
      .pos-rlt.b
        .h3.text-center.font-thin.wrapper-sm.bg-info
          a.pull-left: i.fa.fa-chevron-left(mwl-date-modifier='', date='Calendar.calendarDay', decrement='Calendar.calendarView')
          | {{ Calendar.calendarTitle }}
          a.pull-right: i.fa.fa-chevron-right(mwl-date-modifier='', date='Calendar.calendarDay', increment='Calendar.calendarView')
        mwl-calendar(
        events='Calendar.applicants'
        view='Calendar.calendarView'
        view-title='Calendar.calendarTitle'
        current-day='Calendar.calendarDay'
        cell-is-open='Calendar.isCellOpen'
        day-view-start='06:00'
        day-view-end='22:00'
        day-view-split='30'
        on-timespan-click='Calendar.timespan(calendarDate)'
        cell-modifier='Calendar.modifyCell(calendarCell)')
    #aside.col.w-md.w-auto-xs.bg-light.dk.bg-auto.b-l.hide
      .wrapper
        .bg-white-only.r.r-2x.m-b-xs.wrapper-sm(ng-repeat='e in events', class='{{e.className[0]}}')
          input.form-control.m-t-n-xs.no-border.no-padder.no-bg(ng-model='e.title')
          a.pull-right.text-xs.text-muted(ng-click='remove($index)')
            i.fa.fa-trash-o
          .text-xs.text-muted {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
